<?xml version="1.0"?>
<config>
    <modules>
        <SomethingDigital_RecentlyViewed>
             <version>0.1.0</version>
        </SomethingDigital_RecentlyViewed>
    </modules>
    <admin>
    </admin>
    <global>
    </global>
    <adminhtml>
    </adminhtml>
    <frontend>
        <events></events>
        <routers></routers>
        <translate>
        </translate>
        <layout>
            <updates>
                <sd_recentlyviewed module="SomethingDigital_RecentlyViewed">
                    <file>sd_recentlyviewed/recent.xml</file>
                </sd_recentlyviewed>
            </updates>
        </layout>
    </frontend>
    <default>
        <catalog>
            <recently_products>
                <insert_at>.col-right.sidebar</insert_at>
            </recently_products>
        </catalog>
    </default>
</config>